{% load static %}
{% load bootstrap4 %}
<html>
    <head>
        <title>OpenQA-CloudWatch</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body>
        {% bootstrap_javascript jquery=1 %}
        <div class="page-header">
          <div class="row container-fluid">
            <div class="col-sm-6">
              <div class="logo">
                <h1>OpenQA-CloudWatch</h1>
                <a class="github-button" href="https://github.com/cfconrad/pcw/subscription"aria-label="Watch cfconrad/pcw on GitHub">Watch</a>
                <a class="github-button" href="https://github.com/cfconrad/pcw/fork" data-icon="octicon-repo-forked" aria-label="Fork cfconrad/pcw on GitHub" >Fork</a>
                <a class="github-button" href="https://github.com/cfconrad/pcw/issues" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issue cfconrad/pcw on GitHub">Issue</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="small-info"></div>
              <ul class="list-inline" style="float:right;">
                <li class="list-inline-item">
                <div id="check_update_running"></div>
                </li>
                <li class="list-inline-item">
              {% if user.is_authenticated %}
                  <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  {% bootstrap_button 'Logout' %}
                  <input type="hidden" name="next" value="{{ request.path }}"/>
                  </form>
              {% else %}
                  <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  {% bootstrap_button 'Login' %}
                  <input type="hidden" name="next" value="{{ request.path }}"/>
                  </form>
              {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript">
          function check_update_status() {
            $.ajax({
              url: "{% url  'update_status' %}",
              dataType: 'json',
            }).done(function(data) {
              var e = $('#check_update_running');
              if (data.status == 'running'){
                e.data('status', 'running');
                e.html('<a class="btn btn-info" role="button" href="{% url 'update' %}">Updating <span class="glyphicon glyphicon-refresh"></span> </a>');
                setTimeout(function(){check_update_status();}, 1000);
              } else {
                if (e.data('status') == 'running') {
                  e.html('<a class="btn btn-warning" role="button" href="{% url 'instances' %}">Refresh <span class="glyphicon glyphicon-reload"></span> </a>');
                } else {
                  e.html('<a class="btn btn-default" role="button" href="{% url 'update' %}">Update</a>');
                  setTimeout(function(){check_update_status();}, 5000);
                }
              }
              if (data.last_update.length > 0){
                d = new Date(Date.parse(data.last_update));
                $('div.small-info').html('Last update: ' + d.toLocaleString());
                if (Date.now() - d.getTime() > 3600*1000){
                  $('div.small-info').css('color', 'red');
                }
              }
            });
          }

          $(function() {
            check_update_status();
          });
        </script>
    </body>
</html>
