# Python-specifics
.*.swp
*__pycache__*
env/
tags
*.egg-info/
.cache
static/

# virtualenv
venv/
.venv/
pyvenv.cfg
lib64/
lib/
bin/

# Codecov
.coverage
tests/auth.json
tests/pcw.ini
htmlcov/

# Configuration and program data
/db
pcw.ini

# Credentials
creds/
