apscheduler==3.11.0
azure-identity==1.20.0
azure-mgmt-compute==33.0.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.0
azure-storage-blob==12.24.1
boto3==1.37.2
botocore==1.37.2
cachetools==5.5.2
django~=5.1.6
django-bootstrap5==24.3
django-filter==25.1
django-tables2==2.7.5
google-api-python-client==2.162.0
httplib2==0.22.0
influxdb-client==1.48.0
msrest==0.7.1
openqa-client==4.2.3
protobuf==5.29.3
python-dateutil==2.9.0.post0
requests==2.32.3
texttable==1.7.0
urllib3==2.3.0
uwsgi==2.0.28
