boto3
azure-identity==1.16.0
azure-mgmt-compute==31.0.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.1.0
azure-storage-blob==12.20.0
cachetools
msrestazure==0.6.4
uwsgi==2.0.26
requests==2.32.3
Django~=5.0.6
django-tables2==2.7.0
django-filter==23.5
django-bootstrap5==24.2
texttable
oauth2client
google-api-python-client==2.131.0
google-cloud-storage==2.16.0
openqa_client
openstacksdk~=3.1.0
python-dateutil
apscheduler
kubernetes
influxdb-client
