-e .
boto3
azure
uwsgi
requests
django
django-tables2
django-filter
django-bootstrap4
texttable
oauth2client
google-api-python-client
google-cloud-storage
pytest
pytest-django
python-dateutil
apscheduler
faker
flake8
pytest
pytest-cov
codecov
