apscheduler==3.11.0
azure-identity==1.25.0
azure-mgmt-compute==34.1.0
azure-mgmt-resource==23.3.0
azure-mgmt-storage==23.0.0
azure-storage-blob==12.25.1
boto3==1.40.36
botocore==1.40.36
cachetools==5.5.2
django~=5.1.6
django-bootstrap5==24.3
django-filter==25.1
django-tables2==2.7.5
google-api-python-client==2.174.0
httplib2==0.22.0
influxdb-client==1.49.0
msrest==0.7.1
openqa_client==4.3.0
protobuf==6.31.1
python-dateutil==2.9.0.post0
requests==2.32.4
texttable==1.7.0
urllib3==2.5.0
uwsgi==2.0.30
