{% load static %}
<span style="color:#007bff" >CSP Info</span>
<a id="csp_info_toggle_all" href="javascript:toggle_csp_info()"><img  src="{% static 'img/plus.png' %}" width=10 height=10/></a>
<script>
function toggle_csp_info(){
  ihide="{% static 'img/minus.png' %}";
  ishow="{% static 'img/plus.png' %}";
  img_button = $('a#csp_info_toggle_all img');
  if (img_button.attr('src') == ishow) {
    $('.csp_info_short').each(function(i) {
      $(this).hide();
    });
    $('.csp_info_long').each(function(i) {
      $(this).show();
    });
    img_button.attr('src', ihide);
  } else {
    $('.csp_info_short').each(function(i) {
      $(this).show();
    });
    $('.csp_info_long').each(function(i) {
      $(this).hide();
    });
    img_button.attr('src', ishow);
  }
}

function toggle_csp_info_row(id){
  $('#csp_info_long_'+id).toggle(800);
  $('#csp_info_short_'+id).toggle(0);
}
</script>
