.page-header {
    margin-top: 0px;
}

.page-header div.small-info {
    font-size: 0.7em;
    text-align: right;
    padding: 3px;
}
.page-header div.logo {
    margin-left: 3px;
}
.page-header div.logo h1 {
    margin:0 0 3 0;
}
