---
name: Lint , flake8 and hadolint

'on': [push, pull_request]

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements_test.txt
      - name: Analysing the code with pylint
        run: |
          pylint ./ocw/lib/*.py cleanup_k8s.py
  flake8-lint:
    runs-on: ubuntu-latest
    name: flake8
    steps:
      - name: Check out source repository
        uses: actions/checkout@v5
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          max-line-length: "140"
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: 'containers/Dockerfile'
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: 'containers/Dockerfile_dev'
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: 'containers/Dockerfile_k8s'
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: 'containers/Dockerfile_k8s_dev'
