---

name: Unit tests and codecov
on:
  - push
  - pull_request

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
    steps:
      - uses: actions/checkout@v4
      - uses: browser-actions/setup-geckodriver@latest
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Preparation
        run: make prepare
      - name: Install requirements
        run: sudo apt-get install -y podman
      - name: Enable podman socket
        run: systemctl --user enable --now podman.socket
      - name: Run test
        run: make test
  run:
    runs-on: ubuntu-latest
    name: codecov
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements_test.txt
      - name: Run tests and collect coverage
        run: SKIP_SELENIUM=1 pytest --cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
